<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<!--
<section class="steampunks">
<sebm-google-map [latitude]="lat" [longitude]="lng"  [styles]="mapStyle" >
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng"  ></sebm-google-map-marker> <!-- add to marker wth marker imageto create custom marker[iconUrl]="'../../images/dot-to-dot-marker.png'"-->

<!--</sebm-google-map>

</section>

<h1>
  {{title}}
</h1>
-->
<section class="steampunks">
  <sebm-google-map class="sebm-google-map-container"
                   [latitude]="lat"
                   [longitude]="lng"
                   [zoom]="zoom"
                   [disableDefaultUI]="true"
                   [zoomControl]="true"

  >

    <sebm-google-map-marker
      (markerClick)="clickedMarker(label)"
      [latitude]="lat"
      [longitude]="lng"
      [label]="label"
      [markerDraggable]="draggable"
      [iconUrl]="'../../images/dot-to-dot-marker.png'"
  >

      <sebm-google-map-info-window>
        <p>More info!</p>
      </sebm-google-map-info-window>

    </sebm-google-map-marker>

  </sebm-google-map>
</section >
