<header class="bar">
  <h1>
    <img src="../images/[add logo here]" alt=" Steampunks logo" style="width: 80px; height: 90px" /> {{title}}
  </h1>
  <nav [ngSwitch]="isLoggedIn">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a *ngSwitchCase="true" routerLink="/logout" routerLinkActive="active">Logout</a></li>
      <li><a *ngSwitchCase="false" routerLink="/login" routerLinkActive="active" >Login</a></li>
      <li><a *ngSwitchCase="true" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a *ngSwitchCase="true" routerLink="/maps" routerLinkActive="active">Maps</a></li>
    </ul>
  </nav>

</header>
<div style="width: 100%;  align-content:center">
<router-outlet></router-outlet>
</div>
