<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" >
<div class="container md" >
  <div class="row">
    <div class="three columns">
     <div class="col-md-8 col-md-offset-2">
        <div #scrollMe class="bs-example" id="messages">
          <div *ngFor="let message of messages | async">
            <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
              <p>{{ message.message }}</p>
              <div class="author">
                {{ message.displayName }}
              </div>
              <div class="author"> {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
              </div>
            </div>
          </div>

        </div>

        <figure class="highlight">
          <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
          <a class="send-message" (click)="sendMessage()">SEND</a>
        </figure>
      </div>
    </div>
    <div class="six columns content">
      <h1> Welcome to Steampunks {{afService.displayName}}</h1>
    </div>
    <div class="three columns">
      <div class ="col-md-4 col-md-offset">
        <googlemaps-root></googlemaps-root>

     </div>
    </div>
  </div>
</div>
